EXPO_PUBLIC_UNISWAP_DATA_MODE=live
EXPO_PUBLIC_UNISWAP_V3_SUBGRAPH_URL=https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v3
EXPO_PUBLIC_UNISWAP_V3_ARBITRUM_SUBGRAPH_URL=https://api.thegraph.com/subgraphs/id/FQ6JYszEKApsBpAmiHesRsd9Ygc6mzmpNRANeVQFYoVX
